<div class="login-content">
    <div class="card login-card">
        <div class="card-header text-white bg-dark">
            <h4 class="card-title text-white">Login</h4>
        </div>
        <div class="card-body">
            <mat-form-field class="example-form" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username...">
            </mat-form-field>
            <mat-form-field class="example-form" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password..." type="password">
            </mat-form-field>

            <button mat-raised-button class="bg-primary text-white sign-in-button">Log In</button>
        </div>
    </div>
</div>