<div class="main-content">
  <div class="card">
    <div class="card-header text-white bg-dark">
      <h4 class="card-title text-white">Triage Classes</h4>
    </div>
    <div class="card-body">
      <table mat-table [dataSource]="triageClasses" class="classTable">
        <ng-container matColumnDef="severity">
          <th mat-header-cell *matHeaderCellDef> Severity </th>
          <td mat-cell *matCellDef="let element">
            <input matInput placeholder="Class name..." value="{{element.severity}}" disabled>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element">
            <input matInput placeholder="Class name..." value="{{element.name}}" [(ngModel)]="element.name">
          </td>
        </ng-container>
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef> Duration (weeks) </th>
          <td mat-cell *matCellDef="let element">
            <input matInput placeholder="Class name..." value="{{element.duration}}" [(ngModel)]="element.duration">
          </td>
        </ng-container>

        <ng-container matColumnDef="proportion">
          <th mat-header-cell *matHeaderCellDef> Proportion (%, 0-1) </th>
          <td mat-cell *matCellDef="let element">
            <input matInput placeholder="Class name..." value="{{element.proportion}}" [(ngModel)]="element.proportion">
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Save Changes </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="updateTriageClass(element)" aria-label="Save Changes"
              matTooltip="Save Changes">
              <mat-icon>save</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!--<mat-list role="list">
        <mat-list-item *ngFor="let triageClass of triageClasses | keyvalue">
          {{triageClass.value['name']}}
          <mat-action-list>
            <button mat-list-item (click)="save()"> Save </button>
            <button mat-list-item (click)="undo()"> Undo </button>
          </mat-action-list>
        </mat-list-item>
      </mat-list>-->
    </div>
  </div>
  <div class="card">
    <div class="card-header text-white bg-dark">
      <h4 class="card-title text-white">Clinic Data</h4>
    </div>
    <div class="card-body">
      <h6>Upload Data</h6>
      <div class="row">
        <div class="col-md-12">
          <label>Historic Referral Data</label>
          <div>
            <input type="file" class="upload" (change)="historicDataListener($event.target.files)">
          </div>
          <button mat-raised-button class="bg-primary text-white uploadButton" (click)="uploadHistoricData()">Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>