<div class="main-content">
  <div class="container-fluid">
    <form>
      <mat-label>
        Interval Predictions</mat-label>
        <div class="row">
            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                  <label>Number of simulation runs</label>
                  <input matInput value="500">
                </mat-form-field>
            </div>
        </div>
        <h6>Upload Latest Data</h6>
        <div class="row">
            <div class="col-md-6">
              <label>Waitlist</label>
              <div>
                <input type="file" class="upload" (change)="waitlistListener($event.target.files)">
              </div>
            </div>
            <div class="col-md-6">
              <label>Training Data</label>
              <div>
                <input type="file" class="upload" (change)="trainingDataListener($event.target.files)">
              </div>
            </div>
        </div>
        <br>
        <button mat-raised-button type="submit" class="btn btn-info pull-left" (click)="requestUpdateProfile()">Update Profile</button>
        <div class="clearfix"></div>
    </form>
  </div>
</div>
